<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>178121884772-cn6c5rq6aiq9u7stvksliaiku1bjvvhr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.178121884772-cn6c5rq6aiq9u7stvksliaiku1bjvvhr</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>178121884772-kbksiqsgb4teev4tq4u8aemvhjg68b90.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBwo_dARChoqyRs15FgdOs-_JY6BwBgVZ4</string>
	<key>GCM_SENDER_ID</key>
	<string>178121884772</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.stockflow</string>
	<key>PROJECT_ID</key>
	<string>stockiteasy-9debf</string>
	<key>STORAGE_BUCKET</key>
	<string>stockiteasy-9debf.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:178121884772:ios:e4a292cc01d9d7f9c3cb71</string>
</dict>
</plist>